/**
 * FilterVier_v.1.0-free for Opencart 1.5.x___OcStore 1.5.x
 **/
.group_attr {
    font-weight: bold;
    font-size: 14px;
}
.params {
    margin: 0 0 5px 10px;
}
.block-param {
    width: 420px;
    min-width: 250px;
    float: left;
}
.clear {
    clear: both;
    margin-bottom: 10px;
}
.input-price {
    min-width: 265px;
}
.block-param.category ul {
    list-style: outside none none;
    margin: 0;
    padding: 3px 0 10px 8px;
}
.block-param.category ul > li {
    margin: 2px;
    padding: 2px;
    background-color: #7cafc0;
}
.status {
    border: 1px dashed #666;
    background-color: #383;
    color: #FFF;
}
.gran  {
    margin: 0 5px;
    border-left: 1px solid #fff;
}
.sort_order {
    float: right;
    text-align: right;
    line-height: 0.8;
}
input.sort_order {
    width: 25px;
}
.check_img {
    float: right;
    font-family: monospace;
}
.input_right {
    max-width: 50px;
    text-align: right;
}