
@font-face {
	font-family: 'GothamPro';
	src: url('font/gothampro/GothamPro-Medium.eot?') format('eot'), 
	     url('font/gothampro/GothamPro-Medium.otf')  format('opentype'),
	     url('font/gothampro/GothamPro-Medium.woff') format('woff'), 
	     url('font/gothampro/GothamPro-Medium.ttf')  format('truetype'),
	     url('font/gothampro/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
}


@font-face {
	font-family: 'GothamPro';
	src: url('font/gothampro/GothamPro.eot?') format('eot'), 
	     url('font/gothampro/GothamPro.otf')  format('opentype'),
	     url('font/gothampro/GothamPro.woff') format('woff'), 
	     url('font/gothampro/GothamPro.ttf')  format('truetype'),
	     url('font/gothampro/GothamPro.svg#GothamPro') format('svg');
	font-weight: thin;
}


body {
	color: #000000;
	font-family: 'GothamPro', Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}