/**
 * FilterVier_v.1.0-free for Opencart 1.5.x___OcStore 1.5.x
 **/
sup .del img {
    width: 10px;
    height: 10px;
    border: none;
    /*background: url("../image/filter_vier/remove.png") no-repeat scroll 0% 0% transparent;*/
}
.hide {
    display: none;
}
.displ {
    color: #2900A2;
    margin: 2px 0 7px 10px;
    font-family: serif;
    font-size: 12px;
}
.displ span {
    border-bottom: #2900A2 dashed 1px;
}
.displ span:hover {
    cursor: pointer;
    border-bottom: none;
    
}
.title-filter {
    border-left: none;
    border-top: none;
    box-shadow: none;
    margin-bottom: 0;
    padding: 0;
}
.text-through {
    text-decoration: line-through;
}
.categor li a, .categor li.tec_attr {
    /*font-size: 16px;*/
}

#filter_vier li a, #filter_vier li, #filter_vier .dop_pole a, #filter_vier .dop_pole {
    /*font-size: 16px;*/
}
.tec_attr {
    color: #666;
}
#filter_vier li.tec_attr, #filter_vier .tec_attr.dop_pole {
    /*font-size: 15px;*/
}
.kvadrat, .kvadrat_null {
    height: 30px;
    padding: 0;
    width: 32px;
    margin: 2px;
}
button.kvadrat_null {
    color: #999;
    opacity: 0.2;
    background-color: #000;
}
button.tec_attr {
    background-color: #a8a8ff;
    border: 1px solid #f00;
    border-radius: 14%;
    color: #fff;
    
}
button.kvadrat:hover {
    cursor: pointer;
}
button.tec_attr:hover {
    background-color: #ccc;
    border: 1px solid #333;
    color: #111;
    
}
.name_group_attr {
    font-weight: 600;
    /*margin-left: -10px;*/
    /*text-align: center;*/
}
#filter_vier ul {
    list-style: outside none none;
    margin: 5px 2px 0;
    padding: 0;
}
#filter_vier ul > ul {
    margin-left: 10px;
    /*border-bottom: 1px solid #999;*/
}
img.img_param, img.img_param_null {
    margin: 1px;
    width: 23px;
    border: 1px #999 solid;
}
img.img_param_null {
    opacity: 0.2;
    background-color: #000;
}
img.img_param.tec_img, img.img_param:hover {
    border: 1px #f00 solid;
    opacity: 0.4;
    background-color: #000;
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    filter: alpha(opacity=40) black;
}
 
img.img_param.tec_img:hover {
    opacity: 1;
    background-color: #000;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100) black;
}
.img_total {
    
}
a.non_decor {
    text-decoration: none;
}
.line {
    border-bottom: 1px solid #999;
    margin: 5px;
}
.tec_vibor {
    background-color: #eee;
    padding: 5px;
}

/* slider */
#price_slider {
	/width: 324px; 
	height: 13px; 
	background: url("../image/filter_vier/bg-line.png") repeat scroll 0% 0% transparent; position: relative; margin: 0px auto;
}
#price_slider .ui-slider-handle {
	top: -6px; 
	left: 0px; 
	position: absolute; 
	width: 19px; 
	height: 41px; 
	padding-right: 5px; 
	margin-left: -8px; 
	background: url("../image/filter_vier/poloz.png") no-repeat scroll 0% 0% transparent; 
    border: 0 none;
}
#price_slider .ui-widget-header {
	height: 9px; 
	top: 2px; 
	left: 2px; 
	position: relative; 
	background: url("../image/filter_vier/bg-line.png") repeat-x scroll 0px -23px transparent; 
}
.block-slider {
    margin: 0 5px;
}
#prices_slider input {
    /*height: 10px;*/
    font-size: 95%;
    max-width: 45px;
}
#left_count {
    float: left;
    text-align: left;
    padding: 0;
}
#right_count {
    float: right;
    text-align: right;
    padding: 0;
}
.clear {
    clear: both;
}
#button_price {
    float: right;
    font-size: 95%;
    margin: 16px 0 2px;
    padding: 0;
}

#prices_slider {
    margin: 0 0 12px;
}
/* / slider */