/* news */
.box-news {
	width: 636px;
	float: left;
	margin-right: 26px;
	margin-bottom: 26px;
	box-sizing:border-box;
}
.box-news-holder .box-content>:first-child {
	width: 318px;
	float: right;
	margin-right: 0;
}
.box-clean .box-content>:first-child .box-text {
	height: 344px;
}
.box-news h4 {margin-bottom: 25px;
font-size: 18px;
font-weight: 700;
margin-top: 10px;
color: #333;
}
.box-news p {
	margin-top: 0px;
	margin-bottom: 5px;
}

.box-content:after {
	display: block;
	clear: both;
	width: 100%;
	content: '';
}

.box-image, .box-text {
	width: 318px;
	height: 318px;
	background:white;
	float: left;
}
.box-text {padding: 40px 35px; box-sizing:border-box;}
.box-image img {
	width: 100%;
	transition:all 0.4s linear;
	-webkit-transition:all 0.4s linear;
}
.box-news .box-text:hover {background-color: #eb7d29; color: white;}
.box-text:hover h4 {color:white;}
.box-text:hover a {color:white;}
.box-news a {
	text-decoration: none;
	color: black;
}
.box-news a:hover {
	text-decoration: none;
}

.box-clean .box-content {
		-webkit-border-radius: 0px; 
		-moz-border-radius: 0px; 
		-khtml-border-radius: 0px;
		border-radius: 0;
		border:none; 
		padding: 0px;

}
.box-clean .box-heading {
		-webkit-border-radius: 0px; 
		-moz-border-radius: 0px; 
		-khtml-border-radius: 0px;
		padding: 0;
		border-radius: 0;
		background:none;
		border:none;
		font-size: 18px;
		font-weight: normal;
		margin-top: 40px;
		margin-bottom: 50px;
		padding-bottom: 0px;
		font-weight: 700;
		text-transform: uppercase; 
		margin-top: 75px;
}

.box-clean .box-content {
	background:none;
}

