
@font-face {
	font-family: 'GothamPro';
	src: url('font/gothampro/GothamPro-Medium.eot?') format('eot'), 
	     url('font/gothampro/GothamPro-Medium.otf')  format('opentype'),
	     url('font/gothampro/GothamPro-Medium.woff') format('woff'), 
	     url('font/gothampro/GothamPro-Medium.ttf')  format('truetype'),
	     url('font/gothampro/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
	font-weight: 400;
}


@font-face {
	font-family: 'GothamPro';
	src: url('font/gothampro/GothamPro.eot?') format('eot'), 
	     url('font/gothampro/GothamPro.otf')  format('opentype'),
	     url('font/gothampro/GothamPro.woff') format('woff'), 
	     url('font/gothampro/GothamPro.ttf')  format('truetype'),
	     url('font/gothampro/GothamPro.svg#GothamPro') format('svg');
	font-weight: 100;
}

 input[type="text"]:focus { outline: none; }

html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}
body {
	background-color: #f2f2f2;
	color: #000000;
	font-family: 'GothamPro', Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	min-width: 1000px;
	overflow: hidden;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
	color: black;
	font-family: 'GothamPro';
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: bold;
}
h2 {
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: black;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
header {
	display: block;
	width: 100%;
	clear: both;
	background-color: white; 
	transition: top .5s linear; -webkit-transition: top .5s linear;
	position: relative;
	z-index: 9999;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
/* layout */
#container, .container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#column-left {
	float: left;
	width: 238px;
	background: white;
	margin-right: 12px;
	padding: 18px;
	box-sizing: border-box;
}
#column-right {
	float: right;
	width: 180px;
}
#content {
	/*min-height: 400px;
	*/
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 195px;
}
#column-right + #content {
	margin-right: 195px;
}
/* header */
#header {
	height: 230px;
	position: relative;
	z-index: 99;
}
#header #logo {
	width: 125px;
	height: 160px;
	float: left;
	margin-right: 35px;
}
#logo img {
	padding: 17px 0;
}
#logo span, #logo span a {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	font-weight: 100;
}
#site-description {
	width: 475px;
	float: left;
	font-size: 14px;
	color: #808080;
	line-height: 20px;
	padding-top: 35px;
	padding-bottom: 25px;
}
#top-address {
	width: 140px;
	float: left;
	padding-top: 35px;
	line-height: 20px;
	padding-bottom: 25px;
}
#top-address strong, #top-phone>:first-child {
	font-size: 18px;
	font-weight: normal;
	display: block;
}
#top-address a {
	text-decoration: none;
	color: black;
}
#top-phone {
	width: 200px;
	float: left;
	padding-top: 35px;
	line-height: 20px;
	text-align: right;
	padding-bottom: 25px;
}
#top-address a, #top-phone a {
	text-decoration: none;
	color: black;
}

#header #cart {
	z-index: 9;
	min-width: 300px;
	height: 64px;
}

#menuholder #cart .heading {
	text-align: right;
}
#header #cart .heading {
	float: right;
	position: relative;
	z-index: 1;
}
#header #cart .heading h4 {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
#cart-total {font-size: 14px; background:url('../images/cart.png') center left no-repeat;
	line-height: 14px; display: block;
    padding: 25px 10px 25px 40px;}
#header #cart .heading a, #menuholder #cart .heading a {

	text-decoration: none;
}
/*#header #cart .heading a span {
	background: #FFFFFF url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}*/
#header #cart .content, #menuholder #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 2px 2px 2px #DDDDDD;
	-moz-box-shadow: 2px 2px 2px #DDDDDD;
	box-shadow: 2px 2px 2px #DDDDDD;
	background: #FFF;
}
#header #cart.active .heading, #menuholder #cart.active .heading {

}
#header #cart.active .content, #menuholder #cart.active .content {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #000;
	padding: 4px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#header #search {
	position: relative;
	width: 600px;
	height: 47px;
	display: block;
	float: left;
	z-index: 15;
}

#header .button-search {
	position: absolute;
	right: 0px;
	background: url('../images/search.png') center center no-repeat;
	width: 50px;
	height: 43px;
	cursor: pointer;
}
#header #search input {
	background: #FFF;
	padding: 10px 50px 10px 15px;
	width: 600px;    
	height: 45px;
    border: 2px solid #f2f2f2;
    font-size: 14px;
    color: #333;
    box-sizing:border-box;	
    transition: border-color linear 0.2s;
    -webkit-transition: border-color linear 0.2s;

}
#header #search input:hover {
	border-color: #DDD;
}
#header #search input:focus {
	border-color: #eb7d29;
}
#header #welcome {
	z-index: 5;
	width: 200px;
	text-align: right;
	color: #999999;
	float: right;
	padding-top: 13px;
}

#menuholder #cart {
	width: 200px;
	float: right;

}
#menuholder #cart h4 {
	display: none;
}
#header .links {
	position: absolute;
	right: 0px;
	bottom: 3px;
	font-size: 10px;
	padding-right: 10px;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #38B0E3;
	text-decoration: none;
	font-size: 12px;
}
#header .links a + a {
	margin-left: 8px;
	border-left: 1px solid #CCC;
}
/* menu */
#menu {
	background: white;
	height: 65px;
	width: 980px;
	margin:0 auto;
	position: relative;
	padding: 0px;
	border-top: 1px solid #f2f2f2;
}
#menu ul>:first-child a {padding-left: 0;}
#menuholder {

	width: 100%;
	clear: both;
	z-index: 999;

}
.box-block-category ul.box-category > li ul {
	display: block;
}
/*#menuholder.fixed {

	background: white;
	position: fixed;
	top: 0;
}*/
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
}
#menu > ul > li:hover {
}
#menu > ul > li > a {
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 25px 5px 25px 5px;
	z-index: 6;
	position: relative;
}
#menu > ul > li:hover > a {
	color: #eb7d29;
}
#menu > ul > li > div {
	display: none;
	position: absolute;
	z-index: 100999;
	top: 50px;
	padding: 20px;
	background: white;
box-shadow: 1px 3px 3px rgba(0,0,0,0.1);
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {
	text-decoration: underline;
}
#menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
}

.box-category > li > ul > li > ul {
	display: none;
}
.breadcrumb {
	color: #CCCCCC;
	margin-bottom: 10px;
}
#notification {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing:border-box;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 0px;
	color: #555555;

}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;

}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
	margin-bottom: 25px;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
a.button, input.button {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-family: 'GothamPro', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background: url('../image/button.png') repeat-x;
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
}
input.button {
	margin: 0;
	border: 0;
	height: 24px;
	padding: 0px 12px 0px 12px;
}
a.button:hover, input.button:hover {
	background-position: 0px -24px;
}
.buttons {
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;
	line-height: 16px;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: 'GothamPro', Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}
/* box */
.box {
	margin-bottom: 20px;
}
.box .box-heading {
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	border: 1px solid #DBDEE1;
	background: url('../image/background.png') repeat-x;
	padding: 8px 10px 7px 10px;
	font-family: 'GothamPro', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #333;
}
.box .box-content {
	background: #FFFFFF;
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	padding: 10px;
}
/* box products */
.box-product {
	width: 100%;
	overflow: auto;
}
.box-product > div {
	width: 216px;
	display: inline-block;
	float: left;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;
}
.box-product>:nth-child(3n) {
	margin-right: 0;
}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .name a {
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.product-info .box-product .price {
	display: block;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 4px;
	padding-bottom: 0;
	border: none;
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
ul.box-category, ul.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-category > li:first-child {
	padding: 0px;
}
ul.box-category>:first-child>a  {
	background: #eb7d29;
color: white;
display: block;
width: 100%;
height: 45px;
text-align: center;
text-transform: uppercase;
line-height: 45px;
font-size: 16px;
font-weight: bold;
margin-bottom: 18px;
}
ul.box-category > li {
	padding: 8px 8px 8px 0px;
}
ul.box-category > li + li {
	border-top: 1px solid #EEEEEE;
}
ul.box-category > li > a {
	text-decoration: none;
	color: #333;
}
/*ul.box-category > li ul {
	display: none;
}*/
ul.box-category > li a.active {
	font-weight: bold;
}
ul.box-category > li a.active + ul {
	display: block;
}
ul.box-category > li ul > li {
	padding: 5px 5px 0px 10px;
}
ul.box-category > li ul > li > a {
	text-decoration: none;
	display: block;
	
	line-height: 16px;
	border-bottom: 1px solid #EEE;
	padding: 0 15px;
	box-sizing:border-box;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 14px;
}
ul.box-category > li ul > li ul li a {
	padding-left: 30px;
}
ul.box-category > li ul > li ul li {position: relative;}
ul.box-category > li ul > li ul li:before {display: block;position: absolute;left: 26px; top: 20px; content: '\00bb'; width: 10px; height: 10px;}
ul.box-category > li ul > li a:hover {
	color: #eb7d29;
}
ul.box-category > li ul > li > a.active {
	border-color: #eb7d29;
	font-weight: bold;
	border-width:3px;
}
/* box filter */
ul.box-filter, ul.box-filter ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.box-filter span {
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;	
	display: block;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
ul.box-filter > li ul {
	padding-bottom: 10px;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
	background: white;
	clear: both;
	padding-top: 80px;
	padding-bottom: 60px;
	line-height: 20px;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}

.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort {
	float: left;
	color: #333;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}
.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float: right;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #333333;
	font-size: 12px;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}
.product-grid {
	width: 730px;
	float: left;
}
.product-grid > div {
	width: 235px;
	height: 330px;
	display: block;
	vertical-align: top;
	margin-right: 12px;
	margin-bottom: 12px;
	background: white;
	float: left;
	box-sizing:border-box;
	padding: 20px;
}
.product-grid > div:hover {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.product-grid>:nth-child(3n) {
	margin-right: 0px;
}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
	text-align: center;
}

.product-grid .name, .box-product .name {
text-align:center;margin-top: 25px;
display: table; width:100%;
height: 34px;
box-sizing:border-box;
margin-bottom: 15px;
}
.box-product {text-align: center;}
.product-grid .name a,  .box-product .name a {
	color: black;
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	margin-bottom: 4px;
	height: 34px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price, .box-product .price {
	display: block;
	font-weight: bold;
	color: #9e9e9e;
	margin-bottom: 4px;
	text-align: center;
}
.box-product .image {width: 100%;}
.product-grid .price-old {
	color: #eb7d29;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-grid .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
	background: white;
	float: left;
	width: 730px;
	padding: 20px;
	box-sizing:border-box;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 265px;
}
.product-info .image {
	float: left;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.product-info .image-additional {
	width: 260px;
	margin-left: -10px;
	clear: both;
	overflow: hidden;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
}
.product-info .description {
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 20px;
	color: #333333;
	text-transform: uppercase;
	font-weight: bold;
}
.product-info .description span {
	color: #eb7d29;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
	font-size: 14px;
	color: #959595;
padding-bottom: 28px;
margin-bottom: 28px;
border-bottom: 1px solid #EEE;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
}
.product-info .cart div > span {
	color: #999;
}
.product-info .cart .links {
	display: inline-block;
	vertical-align: middle;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.attributes dt {
	font-weight: bold;
}

.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
	color: black;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
footer {
	display: block;
	width: 100%;
	clear: both;
	height: 340px;
	background: url('../images/footer-compiled.png') center center no-repeat;
}
#footer {
	clear: both;
	height: 323px;/*
	background: url('../images/footer-texture.png') left center no-repeat;*/
	position: relative;
	box-sizing: border-box;
	padding: 95px 30px;
	color: white;
	width: 980px;
	margin: 0 auto;
}

#footer .column.column-social {
	width: 20px;
	float: left;
	margin-left:30px;
}
.column-social .social {
	text-indent: -9999em;
	display: block;
	width: 20px;
	height: 20px;
	clear: both;
	margin-bottom: 5px;
}
.column-social .social-vk {
	background:url('../images/vk.png') center center;
}

.column-social .social-tube {
	background:url('../images/youtube.png') center center;
}

.column-social .social-in {
	background:url('../images/instagram.png') center center;
}

/*#footer:after {
	width: 285px;
	height: 305px;
	display: block;
	content: '';
	background:url('../images/rakel.png');
	bottom: -77px;
	position: absolute;
	right: -128px;
}*/
#footer h3 {
	color: #000000;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 8px;
}
#footer .column {
	float: left;
	width: 25%;
	min-height: 100px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
}
#footer .column ul li {
	list-style: none;
	margin-left: 0;
}

#footer .column.column-logo {
    width: 130px;
}
#footer .column.information-links {
	width: 280px;

}
#footer .column.information-links li {
	width: 140px; float: left;
}
#footer .column-address {
	float: left;
	text-align: right;
	font-size: 20px;
	width: 180px;
}

#footer .column a {
	text-decoration: none;
	color: white;
	font-size: 14px;
	line-height: 28px;
	font-weight: 100;
}

#footer .column a:hover {
	text-decoration: underline;
}



#footer .column-address a {
	font-size: 14px;
	display: inline-block;
	clear: both;
	line-height: 14px;
	margin-top: 14px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding-bottom: 0px;
}
#footer .column-address a:hover {
	border-bottom: 1px solid rgba(255,255,255,1);
	text-decoration: none;
}

#footer .column-phone  {
	width: 205px;
	float: left;
	text-align: right;
}
#footer .column-phone a {
	font-size: 18px;
	line-height: 20px;
	display: block;
}

#footer .column-phone>:last-child {
	font-size: 14px;	
	line-height: 14px;
	margin-top: 14px;
}
#footer .column-phone a:hover {
	text-decoration: none;
}

.copyrights {
    width: 845px;
    clear: both;
    border-top: 2px solid white;
    padding-top: 20px;
    color: white;
    font-size: 14px;
}
.copyrights a {color: white;}
.copyrights>:last-child {float: right;}
.copyrights>:last-child a {text-decoration: none; font-weight: bold;}

/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}
.home-slideblock-holder {
	width: 100%;
	padding-top: 20px;

}
.home-slideblock {
	clear: both;
	width: 980px;
	margin: 0 auto;
}
.home-slideblock:after {
	display: block;
	content: '';
	width: 100%;
	clear: both;
}
.slideshow {
	width: 710px;
	float: left;
}
.featured-links {
	width: 250px;
	float: left;
	margin-left: 10px;
	background: white;
	-webkit-box-shadow: 2px 2px 2px #DDDDDD;
	-moz-box-shadow: 2px 2px 2px #DDDDDD;
	box-shadow: 2px 2px 2px #DDDDDD;
}
.featured-links ul {list-style: none; margin: 0; padding: 0; width: 100%;
border: 1px solid #EEE;}
.featured-links ul li {
	display: block;
	width: 100%;
	clear: both;
	padding: 5px 10px;
	margin: 0;
border-bottom: 1px solid #EEE;
box-sizing: border-box;
height: 50px
}

.featured-links ul li img {
	position: relative;
	top: 5px;
}

/*.featured-links ul li:hover {
	background: #F18701;
}
.featured-links ul li:hover a {
	color: white;
}*/

.featured-links ul>:last-child {border:none;}
.featured-links ul li a {
	display: block;
	height: 50px;
line-height: 40px;
font-size: 14px;
	text-decoration: none;
}
.special-link a {
	color: #DD1C1A;
}


.featured-links ul li a:hover span {
	border-bottom: 1px solid #EEE;
}
.featured-links ul li span {
	position: relative;
	top: -5px;
	left: 5px;
}
#site-description b {
	display: block;
font-size: 32px;
font-family: 'GothamPro';
letter-spacing: 1px;
text-transform: uppercase;
}
#site-description span {
	display: block;
font-size: 10px;
line-height: 1.1em
}

.module-link{
	float: right;
	text-decoration: none;
	padding-left: 45px;
}
.module-link.instagram-external {
	background:url('../images/external.png') no-repeat left center; 
}
.module-link_news {
	background:url('../images/news.png') no-repeat left center;
	background-size: 22px;
}
.module-link_catalog {
	background:url('../images/catalog.png') no-repeat left center;
}

#instagram .bx-wrapper .bx-viewport {
	border:none;
	background:none;
	box-shadow: none;
	moz-box-shadow: none;
    -webkit-box-shadow: none;
    left:0;
}
#instagram {position: relative;}

.instagram-navigation {
	position: absolute;
	bottom: 70px;
	width: 19px;
	height: 32px;
	cursor: pointer;
}
.instagram-navigation_goLeft {
	background:url('../images/goLeft.png') 0px -1px;
	left: -35px;
}

.instagram-navigation_goRight {
	background:url('../images/goRight.png') 0px -1px;
	right: -35px;
}
.instagram-navigation_goLeft:hover {
	background:url('../images/goLeft.png') 0px -33px;
}

.instagram-navigation_goRight:hover {
	background:url('../images/goRight.png') 0px -33px;
}
.instagram-navigation a {
	text-indent: -9999em;
	display: block;
	width: 100%;
	height: 100%;
}

.block {
	width: 100%;
	clear: both;
}
.bgWhite {background-color: white;}
.wrapper {
	width:980px;
	margin: 0 auto;
}
.mainCategories {padding-top: 75px; padding-bottom: 70px;}
.mainCategories .box-clean .box-heading {margin-top:0px;}


/* Каталог */
.catalog_header {background: #eb7d29;
color: white;
text-align: center;
height:100px;
width: 100%;
clear: both;}

.catalog_header h1 {
	color: white;
	padding-top: 20px;
	margin-top:0;
}

.catalog_header .breadcrumb {color:white;}
.catalog_header .breadcrumb a {color:white;}

.catalog_filters {
	width: 100%;
	clear: both;
	background: white;
	height: 65px;
	color: black;
	padding-top: 20px;
	box-sizing: border-box;
}

.subcategory-list {background: white; float: left; width: 730px; margin-bottom: 12px; padding: 12px 12px 0 12px; box-sizing: border-box;} 
.subcategory-list-wrapper { list-style: none; margin: 0; width:100%; padding:0;}
.subcategory-list-wrapper-list {list-style: none; display: table; width: 227px; float: left; height: 60px; text-align: center; border: 2px solid #EEE; margin-bottom: 12px; margin-right: 12px; line-height: 16px; padding:10px; box-sizing:border-box;}
.subcategory-list-wrapper>:nth-child(3n) {margin-right: 0;}
.subcategory-list-wrapper-list-link {text-decoration: none;}
.subcategory-list-wrapper-list:hover {border-color: #DDD;}
.subcategory-list-wrapper-list-link {display: table-cell; height: 100%; vertical-align: middle; text-align: center;}

.container-category, .container-product {
	margin-top: 20px;
}
.container-cart, .container-checkout, .container-search, .container-success, .container-account {
	padding-top: 20px;
}
.container-search #content .content {padding:0;}
.container-search h2 {margin-bottom: 20px;}
.container-search #button-search {float: right;}
.container-search .product-grid {width: 100%;} 
.container-search .product-grid>:nth-child(3n) {
	margin-right: 12px;
}
.container-search .product-grid>:nth-child(4n) {
	margin-right: 0px;
}

.goToCatalog {
	font-size: 14px;
	text-decoration: none;
}
.catalog_filters-product {padding-top: 23px;}

.product-description {
	color:#333;
	line-height: 16px;
	font-size: 14px;
}

/* Информация */
.container-information {
	padding-top: 50px;
}

.container-information p {
	font-size: 16px;
	line-height: 24px;
}

.container-information blockquoute {
	font-size: 24px;
	line-height: 32px;
	border-left: 5px solid black;
	font-weight: bold;
	margin: 20px 0;
	display: block;
	padding-left: 30px;
	font-family: Georgia;
	font-style: italic;
}
/* Информация */
.container-newspage {
	padding-top: 50px;
}

/* Страница контакты */
.container-contact {
	padding-top: 50px;
}
.contact-map {
	margin-bottom: 10px;
	height: 400px;
	width: 100%;
	clear: both;
}
.container-contact #content .content {
	padding: 10px 0;
}
/* Новости */
.container-newspage .box-news {
	width: 318px;
	margin-right: 13px;
	margin-bottom: 13px;
}
.container-newspage>:nth-child(3n) {
	margin-right: 0px;
}
.container-newspage a, .box-news-holder a {line-height: 16px;}
.container-newspage p {line-height: 16px; font-size: 14px;}

header.active {height: 140px; position: fixed; top: -70px; box-shadow: 1px 1px 3px #EEE; z-index: 9999;}
header.active.show {top:0px;}
header.active #header {height: 140px;}
header.active #site-description, header.active #top-address,  header.active #welcome {display: none;}
header.active #header #logo {height: 45px; width:215px;}
header.active #logo img {padding:0; height: 45px; float: left; margin-right: 15px; width: 55px;}
header.active #logo a {float: left; width: 55px; padding-top:10px; margin-right: 15px; height: 45px;}
header.active #logo span {float: left; display: block; width: 145px; padding-top:15px;}
header.active #logo span a {padding-top: 5px !important;}
header.active #header #search input {width: 600px;}
header.active #header #search {width: 600px; position: absolute; left: 205px; top:10px;}
header.active #menuholder {position: absolute; left: 0; top: 70px;}
/*header.active #menu {width: 170px; border:none;}*/
header.active #top-phone {position: absolute; right: 10px; top: 18px; padding: 0;}
header.active #top-phone>:first-child {font-size: 14px; line-height: 14px;}
body.fix-menu {padding-top: 230px;}


/* Слайдер на главной */
.main-slider-block {width:100%; clear:both; background:#eb7d29; height:590px; position: relative;}
.main-slider-block-wrapper {width:100%; height:590px; overflow: hidden; position: relative;}
.main-slider-slide {width:980px; margin:0 auto; height: 590px; padding-top: 100px; box-sizing:border-box; clear: both;  position: absolute; top: 0; left: 50%; margin-left: -490px; }

.main-slider-text {width:500px; float:left; position:relative; top:60px; opacity: 0; transition: all .5s linear; -webkit-transition: all .5s linear; z-index: 9;}
.main-slider-slide.active .main-slider-text {width:500px; float:left; position:relative; top:50px; opacity: 1;}
.main-slider-slide.say-bye .main-slider-text {width:500px; float:left; position:relative; top:40px; opacity: 0;}
.main-slider-text-strong, .main-slider-text-strong a {font-size:60px; color:white; display:block; text-decoration: none;}
.main-slider-text-description,.main-slider-text-description a {margin-top:30px; font-size:18px; color:white; display:block; text-decoration: none;}
.main-slider-image {width:480px; float:right; position:relative; top:0px; opacity: 0; transition: all .5s linear; -webkit-transition: all .5s linear; left: -100px;}
.main-slider-slide.active .main-slider-image {width:480px; float:right; position:relative; top:-10px; opacity: 1;}
.main-slider-slide.say-bye .main-slider-image {width:480px; float:right; position:relative; top:-20px; opacity: 0;}
.main-slider-slide.active {opacity: 1 !important; z-index: 99;}

.main-slider-navigation {width: 250px; height: 590px; position: absolute; top: 0; left: 50%; margin-left: 230px; z-index: 100;}
.main-slider-holder {height: 590px; vertical-align: middle; display: table-cell; width: 250px;} 
.main-slider-navigation-bullet {cursor: pointer; text-align: right; position: relative;  padding-right:10px; color: black; opacity:0.5; font-size: 16px; height: 24px;}
.main-slider-navigation-bullet.active {color: white; opacity: 1;}
.main-slider-navigation-bullet:hover {opacity: 1;}
.main-slider-navigation-bullet:after {display: block; width: 6px; height: 6px; background: black; border-radius: 50%; position: absolute; right: 0px; content: ''; top:3px;}
.main-slider-navigation-bullet.active:after {background: white;}

.print-type-holder {width:100%; background:white; box-sizing:border-box; padding:15px 45px; display: block; margin-bottom: 80px;}
.print-type-title {
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'GothamPro', Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #EEE; 
	display: block;
	width: 100%;
	box-sizing:border-box;
	padding:10px;
	line-height: 60px;
	cursor: pointer;
}
.print-type-title-last {border-bottom: none;}
.print-type-title.active {color: #eb7d29;}
.print-type-title:hover {color: #eb7d29;}
.print-type-holder .print-type-table { transition:linear all 0.3s; -webkit-transition:linear all 0.3s; width: 100%; margin-bottom: 80px; min-height: 0px; display: none;}
.print-type-holder table {width:100%; margin-top: 40px;}
.print-type-holder td {padding: 10px; border-radius: 5px;}
.print-type-holder tbody>:nth-child(2n-1) td {background-color: #f2f2f2;}
.print-type-holder tbody>:first-child  td, td.hightlight {background:#eb7d29; color:white; font-weight: bold;}

.print-type-title.active + .print-type-table {min-height: 500px; display: block;}
.print-type-table h2 {margin-top: 40px; margin-bottom: 0;}

.text-block {margin-top: 80px;}
.icon-shirt {
	background:url('/image/data/catalog-svg/shirts.svg') no-repeat center left;
	background-size: 50px 50px;
	padding-left: 80px;
}
.icon-umbrella {
	background:url('/image/data/catalog-svg/umbrella.svg') no-repeat center left;
	background-size: 50px 50px;
	padding-left: 80px;
}
.icon-pen {
	background:url('/image/data/catalog-svg/pens.svg') no-repeat center left;
	background-size: 50px 50px;
	padding-left: 80px;
}
.icon-znachki {
	background:url('/image/data/catalog-svg/znachki.svg') no-repeat center left;
	background-size: 50px 50px;
	padding-left: 80px;
}
.icon-decol, .icon-cup {
	background:url('/image/data/catalog-svg/posuda.svg') no-repeat center left;
	background-size: 50px 50px;
	padding-left: 80px;
}
.icon-paket {
	background:url('/image/data/catalog-svg/pakety.svg') no-repeat center left;
	background-size: 50px 50px;
	padding-left: 80px;
}
.icon-baloon {
	background:url('/image/data/catalog-svg/vozdushnie-shary.svg') no-repeat center left;
	background-size: 50px 50px;
	padding-left: 80px;
}
.icon-disk {
	background:url('/image/data/catalog-svg/diski.svg') no-repeat center left;
	background-size: 50px 50px;
	padding-left: 80px;
}
.icon-pechat {
	background:url('/image/data/catalog-svg/pechatnaya-produkciya.svg') no-repeat center left;
	background-size: 50px 50px;
	padding-left: 80px;
}
.icon-blocknoty {
	background:url('/image/data/catalog-svg/bloknoty.svg') no-repeat center left;
	background-size: 50px 50px;
	padding-left: 80px;
}

.print-calculator {
	padding: 40px;
	box-sizing: border-box;
	width:100%;
	background:#EEE;
	padding-top: 120px;
}
.print-calculator-row {margin: 20px 0; font-size: 14px; color: #333333; text-transform: uppercase; position: relative;}
.top-separator {border-top:1px solid #DDD;
padding-top: 20px}
.input-box, input[type='text'].input-box {font-weight: normal;
padding: 5px;
color: black;}
.input-box.error {border:1px solid red; display: inline-block;}
.input-button {
	-webkit-appearance: none;
border: none;
color: white;
padding: 10px 20px;
background:#888;
box-shadow: 0px 0px 5px #CCC;
border-radius: 3px;
cursor: pointer;
margin-top: 10px;
}
.input-button:hover {
background: #555;
}
.form-success {display: none;}
.s-cost-per-item, .s-cost-total {font-size: 18px; color: #eb7d29;}
.size-radio {margin-right: 10px;}
.print-row-label-title {display: inline-block; width: 200px;}
.size-label {margin-right: 40px;}

.size-radio, .size-label {position: relative;}
.size-label:after {
	content: '';
	display: block;
	background: url('/image/data/catalog-svg/pakety.svg') no-repeat;
	background-size: auto 100%;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -60px;
	left: 0px;
}

.pcr-2 {margin-top: 50px; margin-bottom: 50px;}
.size-label[value="3040"]:after  {width: 50px; height:50px; top:-70px;
	background-size: auto 100%;}
.size-label[value="4050"]:after  {width: 70px; height: 70px; top:-90px;
	background-size: auto 100%;}
.size-label[value="9999"]:after  {width: 50px; height: 50px; top:-70px;
	background-size: auto 100%;}
.calc-spans {display: block;clear: both; margin-bottom: 15px;}

.print-calculator-row:after {display: block; content: ''; clear: both;}
.col-3 {
	width: 190px; float: left;
	margin-right: 15px;
}
.pcr-2>:nth-child(4n) {margin-right: 0;}

.select-box-current, .select-box-option {
	width: 100%;
	display: block;
	background: white;
	padding: 10px 40px 10px 10px;
	box-sizing: border-box;
	border: 1px solid #DDD; cursor: pointer;
	z-index: 9;
	position: relative;
}
.select-box-current:hover, .select-box-option:hover {background: #f1f1f1; color: #eb7d29;}
.select-box-option {
	border-top:none;
}
.select-box { position: relative;}
.select-box-option-holder {display:none; position: absolute; width: 100%;}
.select-box-current + .select-box-option-holder {display: none;}
.select-box-current.active+ .select-box-option-holder {display: block;}

.print-type-table table td:hover, .print-type-table table td.hover {background: #eb7d29; color: white;}


.align-right {
	float: right;
	margin-left: 40px;
}

.container-information .print-table-description
{
	font-size: 12px;
	line-height: 16px;
	margin-top: 20px;
}

.boxcolor {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 7px;
	top: 7px;
	border:1px solid #000;
	box-sizing: border-box
}
.product-latest {
	background: white;
	padding: 20px;
}
.product-latest-header {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 30px;
	border-bottom: 1px solid #EEE;
	padding-bottom:20px;
}
.container-category:after {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.svg-image, .menu-subcategory-svg {width: 50px; height: 50px; margin:0 auto 5px;}
.svg-image svg, .menu-subcategory-svg svg {width: 50px; height: 50px;}
.menu-subcategory-link {
    color: #333 !important;
    text-align: center;
    margin: 5px 0;
}
.menu-subcategory-item {
    margin: 20px 0;
}
