div.XDCategoryGroupsBlocks {
    width:192px;
    height: 136px;
    text-align: center;
    display:block;
    float: left;
    vertical-align:top;
    margin: 0px;
    padding: 15px;
    box-sizing:border-box;
}


.XDholder:after {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}
.XDholder>:nth-child(5n+1){
	margin-right: 0;
}
.XDCategoryGroupsBlocks a {
    font-size: 14px;
    text-decoration: none;
}
.XDCategoryGroupsBlocks>:first-child {
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto;

}
.XDCategoryGroupsBlocks img {
    width: 100%;
    height: 60px;
}
.XDCategoryGroupsBlocks svg {
    width: 100%;
    height: 60px;
}
.XDCategoryGroupsBlocks:hover {background: #eb7d29;}
.XDCategoryGroupsBlocks:hover svg path {fill:white; } 
.XDCategoryGroupsBlocks:hover a {color: white;}

.XDCategoryGroupsBlocks img,.XDholder img {
   transition:0.2s linear all; 
   -webkit-transition:0.2s linear all; 
}

.XDCategoryGroupsBlocks:hover h2 a {
    color: white;
}

.XDholder {
    background:white;
}