/* news */
.box-news {
	width: 318px;
	float: left;
	padding-right: 10px;
	box-sizing:border-box;
}
.box-news h4 {margin-bottom: 5px;
font-family: 'Open Sans';
font-size: 16px;
font-weight: 700;
margin-top: 10px;
}
.box-news p {
	margin-top: 0px;
	margin-bottom: 5px;
}

.box-content:after {
	display: block;
	clear: both;
	width: 100%;
	content: '';
}

.box-image, .box-text {
	width: 318px;
	height: 318px;
}
.box-image img {
	width: 100%;
	transition:all 0.4s linear;
	-webkit-transition:all 0.4s linear;
}


.box-news a {
	text-decoration: none;
	color: black;
}
.box-news a:hover {
	text-decoration: none;
}

.box-clean .box-content {
		-webkit-border-radius: 0px; 
		-moz-border-radius: 0px; 
		-khtml-border-radius: 0px;
		border-radius: 0;
		border:none; 
		padding-bottom: 0px;

}
.box-clean .box-heading {
		-webkit-border-radius: 0px; 
		-moz-border-radius: 0px; 
		-khtml-border-radius: 0px;
		border-radius: 0;
		background:none;
		border:none;
		font-family: 'Open Sans';
font-size: 24px;
font-weight: normal;
margin-top: 40px;
margin-bottom: 0px;
padding-bottom: 20px; 
}

.box-clean .box-content {
	background:none;
}

